body {
    height: 100vh;
}

.container {
    margin: 50px auto 100px auto;
}

#topTextDiv {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    font-family: 'Anton', sans-serif;
    font-size: 2em;
    text-transform: uppercase;
    color: white;
    letter-spacing: 1px;
    text-shadow:2px 2px 0 #000;
}

#bottomTextDiv {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    font-family: 'Anton', sans-serif;
    font-size: 2em;
    text-transform: uppercase;
    color: white;
    letter-spacing: 1px;
    text-shadow:2px 2px 0 #000;

}